* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $background;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin:auto;
  //background-color: #f7f7f8;
  background-color: #2b3f54;
  font-family: $font-family;
}

.main {
  flex: 1;
  display:flex;
  flex-direction: row;
}

.content {
  flex:1;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  &__inner {
    flex: 1;
    padding: 2rem;
  }
}


.section-header {
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}


.toolbar {
  background-color: rgba(0,0,0,.2);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      padding: 0 1rem;
      font-size: 1.9rem;
      cursor: pointer;
    }
    i:last-child {
      padding-right: 0;
    }
  }
}


*::-webkit-scrollbar {
  width: .4em;
  height: 1em;
  //border-radius: 50%;
}

*::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(234, 234, 234, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255, .3);
  outline: 1px solid rgba(255,255,255, .3);
  border-radius: 10px;
}


::-webkit-scrollbar:horizontal {
  width: 1rem;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb:horizontal{
  //background: #000;
  //border-radius: 10px;
  width: 1rem;
}


.form-control {
  border-radius: 2px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, .1) !important;
  color: white !important;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  height: 28px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  background-image: none;
  //border: 1px solid #d9d9d9
  border: none !important;
  border-bottom: 1px solid $text-alt !important;
  &:focus {
    box-shadow: none !important;
    border-bottom: 1px solid $light-blue !important;
  }
}


.btn {
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, .4) !important;
  padding: .6rem 1.4rem !important;
  color: white;
  font-size: 1.4rem !important;
  font-weight: 300;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    transition: all .2s ease-in-out;
  }
  &--outline {
    border: 1px solid white;
    color: white;
  }
  &--outline-blue {
    border: 1px solid $light-blue !important;
    color: $light-blue;
  }
}