$main: #2b3f54;
$font-family: "Roboto", sans-serif;
//$background: #f7f7f8;
$background: #2b3f54;

$light: rgba(255, 255, 255, 0.1);
//$light-blue: #3a8fc8;
$light-blue: #4387E7;
$light-blue--hover: rgb(116, 155, 234);

$highlight: rgba(255,255,255,.06);

$text-alt: rgba(255,255,255,.7);

$card: rgba(0,0,0,.1);
$card-header: rgba(0,0,0,.1);
$card-border: rgba(0,0,0,.3);
$card-hover: rgba(255,255,255,.0825);