.container {
  &--calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.calendar-inner {
  padding: 1rem;
  .rbc-date-cell {
    min-height: 50px;
    @include screen('sm') {
      min-height: 75px;
    }
  }
}

.calendar__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__label {
    font-weight: 300;
    font-size: 2rem;
  }
  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    i:before {
      font-size: 2rem;
    }
  }
}
