.countdown-panel {
  background-color: $light-blue;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 1rem 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 6px;
  &__timer {
    font-size: 3rem;
    @include screen('sm') {
      font-size: 4rem;
    }
  }
  &__label {
    text-transform: none;
    font-size: 1.2rem;
    @include screen('sm') {
      font-size: 1.6rem;
    }
  }
}