.sidebar--mobile {
  background-color: rgba(0,0,0,.9);
  width: 250px;
  overflow: hidden;
  color: white;
  position: absolute;
  z-index: 15000;
  height: 100%;
  padding-top: 5rem;
  top: 0;
  left: -25rem;
  transition: all .3s ease-in-out;
  & * {
    font-size: 2rem!important;
  }
  @include screen('md') {
    display: none;
  }
}

.mobile-active {
  width: 100%;
  position: fixed;
  transform: translateX(25rem);
}
