.price-table {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 2rem;
  &__header {
    background-color: $card;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
  }
  &__subtitle {
    font-size: 1.2rem;
    color: $text-alt;
    text-align: center;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      width: 100%;
    }
  }
  &__price-info {
    display: flex;
    padding: 1rem;
    justify-content: center;
  }
  &__price {
    font-size: 4rem;
  }
  &__per {
    font-size: 1.4rem;
    position: relative;
    top: 2.8rem;
    left: .2rem;
  }
  &__feature {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;
    &:not(:nth-of-type(2)) {
      border-top: 1px solid rgba(255,255,255,.1);
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 2rem;
  }
  .dollar-sign {
    font-size: 1.4rem;
    position: relative;
    top: 1.1rem;
    right: .2rem;
  }
}