.quick-stat {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  color: white;
  padding: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  flex: 1;
  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }
  &__number {
    font-size: 1.7rem;
  }
  &__text {
    color: $text-alt;
    font-size: 1.2rem;
  }
}