@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%; }

body {
  background-color: #2b3f54; }

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(45deg, #c33764, #1d2671); }
  .App *::-webkit-scrollbar {
    width: .4em;
    height: 1em; }
  .App *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px; }
  .App ::-webkit-scrollbar:horizontal {
    width: 1rem;
    border-radius: 50%; }
  .App ::-webkit-scrollbar-thumb:horizontal {
    width: 1rem; }

.admin-panel {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.main {
  flex: 1;
  display: flex;
  flex-direction: row; }

.content {
  flex: 1;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden; }
  .content__inner {
    flex: 1;
    padding: 2rem; }

.section-header {
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem; }

.toolbar {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: 2.5rem; }
  .toolbar__icons {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .toolbar__icons i {
      padding: 0 1rem;
      font-size: 1.9rem;
      cursor: pointer; }
    .toolbar__icons i:last-child {
      padding-right: 0; }

.form-control {
  border-radius: 2px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: white !important;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  height: 28px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  background-image: none;
  border: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important; }
  .form-control:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #4387e7 !important; }

.btn {
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4) !important;
  padding: .6rem 1.4rem !important;
  color: white;
  font-size: 1.4rem !important;
  font-weight: 300;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all .2s ease-in-out;
  cursor: pointer; }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    transition: all .2s ease-in-out; }
  .btn--outline {
    border: 1px solid white;
    color: white; }
  .btn--outline-blue {
    border: 1px solid #4387e7 !important;
    color: #4387e7; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.7) !important; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7); }

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.7); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7); }

.header {
  height: 6.8rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem; }
  .header__main {
    display: flex;
    align-items: center; }
    .header__main__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 250px;
      padding: 2rem 1.4rem 2rem 2rem; }
  .header__brand {
    font-size: 2.5rem;
    color: white;
    font-weight: 200; }
    .header__brand a {
      color: white;
      text-decoration: none; }
      .header__brand a:hover {
        color: white;
        text-decoration: none; }
  .header__toggle {
    display: none;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .header__toggle {
        display: block; } }
    .header__toggle i {
      color: white;
      font-size: 1.8rem;
      padding: 2rem 0; }
  .header__searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .header__searchbar .form-group {
      position: relative;
      display: none;
      background-color: rgba(255, 255, 255, 0.1);
      margin-bottom: 0;
      padding-left: 2.3rem;
      height: 3.5rem;
      width: 300px; }
      .header__searchbar .form-group input {
        border-bottom: none !important;
        background-color: transparent !important;
        font-size: 1.3rem;
        font-weight: 300; }
      @media only screen and (min-width: 768px) {
        .header__searchbar .form-group {
          display: flex;
          align-items: center; } }
      @media only screen and (min-width: 938px) {
        .header__searchbar .form-group {
          width: 450px; } }
    .header__searchbar label {
      position: absolute;
      color: white;
      font-size: 1.2rem;
      left: 1rem; }
  .header__icons {
    display: none; }
    @media only screen and (min-width: 768px) {
      .header__icons {
        display: flex; } }
  .header__icon {
    position: relative;
    cursor: pointer; }
    .header__icon:hover {
      background-color: rgba(255, 255, 255, 0.2); }
    .header__icon i {
      color: white;
      font-size: 1.8rem;
      padding: 2rem; }
      .header__icon i:last-child {
        font-size: 1.9rem; }
    .header__icon__count {
      background-color: #4387e7;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      position: absolute;
      top: 10px;
      right: 6px; }
  .header__dropdown {
    background-color: black;
    color: white;
    position: absolute;
    top: 6.4rem;
    right: 0;
    font-weight: 300;
    z-index: 10001;
    width: 280px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5); }
    .header__dropdown a {
      color: white;
      text-decoration: none; }
      .header__dropdown a:hover {
        color: white;
        text-decoration: none; }
    .header__dropdown__header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: 1.5rem;
      font-size: 1.3rem; }
    .header__dropdown__body {
      padding: .5rem; }
    .header__dropdown__item {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between; }
      .header__dropdown__item__main {
        display: flex;
        align-items: center; }
      .header__dropdown__item__avatar img {
        height: 3.5rem;
        width: 3.5rem;
        margin-right: 1rem; }
      .header__dropdown__item__name {
        font-size: 1.3rem; }
      .header__dropdown__item__message {
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.7); }
      .header__dropdown__item:hover {
        background-color: rgba(255, 255, 255, 0.06); }
  .header .is-visible {
    display: none; }
  .header .navigation__icon {
    position: relative; }
    .header .navigation__icon, .header .navigation__icon::before, .header .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: white;
      display: inline-block; }
    .header .navigation__icon::before, .header .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .header .navigation__icon::before {
      top: -.8rem; }
    .header .navigation__icon::after {
      top: .8rem; }
  .header__mobile-toggle {
    position: absolute;
    padding: 2rem;
    top: .3rem;
    right: 0;
    cursor: pointer;
    display: block;
    z-index: 16000; }
    @media only screen and (min-width: 768px) {
      .header__mobile-toggle {
        display: none; } }
  .header .opened {
    position: fixed; }
    .header .opened .navigation__icon {
      background-color: transparent; }
    .header .opened .navigation__icon::before {
      top: 0;
      transform: rotate(45deg); }
    .header .opened .navigation__icon::after {
      top: 0;
      transform: rotate(-45deg); }

.sidebar {
  background-color: rgba(0, 0, 0, 0.125);
  display: none;
  color: white;
  padding: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .sidebar {
      flex: 0 0 250px;
      display: block; } }
  .sidebar__brand {
    font-size: 1.9rem;
    text-align: center;
    font-weight: 100;
    padding: 20px; }
  .sidebar .user {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.06);
    padding: .3rem; }
    .sidebar .user__avatar img {
      height: 4rem; }
    .sidebar .user__info {
      font-size: 1.3rem;
      padding: 1rem; }
    .sidebar .user__name {
      font-weight: 400; }
    .sidebar .user__email {
      font-weight: 100;
      color: #cdcdcd; }
  .sidebar__list {
    list-style: none;
    padding-top: 1rem; }
  .sidebar__item {
    position: relative; }
    .sidebar__item a, .sidebar__item--dropdown {
      padding: 1rem 1.4rem;
      font-size: 1.4rem;
      font-weight: 300;
      display: block;
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer; }
      .sidebar__item a:hover, .sidebar__item--dropdown:hover {
        background-color: rgba(255, 255, 255, 0.06);
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none; }
      .sidebar__item a i, .sidebar__item--dropdown i {
        margin-right: 1rem; }
  .sidebar__dropdown {
    background-color: rgba(0, 0, 0, 0.1);
    list-style: none;
    position: relative; }
    .sidebar__dropdown__item a {
      display: block;
      padding: 1rem 1rem 1rem 4rem;
      font-size: 1.4rem;
      font-weight: 300;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7); }
      .sidebar__dropdown__item a:hover {
        background-color: rgba(255, 255, 255, 0.06);
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7); }

.sidebar--mobile {
  background-color: rgba(0, 0, 0, 0.9);
  width: 250px;
  overflow: hidden;
  color: white;
  position: absolute;
  z-index: 15000;
  height: 100%;
  padding-top: 5rem;
  top: 0;
  left: -25rem;
  transition: all .3s ease-in-out; }
  .sidebar--mobile * {
    font-size: 2rem !important; }
  @media only screen and (min-width: 768px) {
    .sidebar--mobile {
      display: none; } }

.mobile-active {
  width: 100%;
  position: fixed;
  transform: translateX(25rem); }

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  font-size: 1.4rem;
  margin-top: 3rem; }
  .footer p {
    margin-bottom: 0; }
  .footer a {
    text-decoration: none;
    color: #4387e7; }
    .footer a:hover {
      text-decoration: none;
      color: #779eeb; }

.card {
  background-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white; }
  .card__header {
    background-color: rgba(0, 0, 0, 0.1) !important;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 200; }
  .card__icons {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .card__icons i {
      padding: 0 1rem;
      font-size: 1.9rem;
      cursor: pointer; }
    .card__icons i:last-child {
      padding-right: 0; }

.grid-panel {
  background-color: #b8bfca;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 1.4rem;
  border-radius: 6px;
  font-size: 2rem; }

.gallery__images {
  overflow: hidden; }
  .gallery__images .row > * {
    padding: 0;
    margin: 0; }

.gallery__image-container {
  height: 100%;
  border: 4px solid transparent;
  position: relative;
  cursor: pointer; }
  .gallery__image-container:hover .image-overlay {
    opacity: 1; }
  .gallery__image-container img {
    height: 100%;
    width: 100%; }
  .gallery__image-container .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .gallery__image-container .image-overlay i {
      position: absolute;
      font-size: 3rem; }

.todo-list {
  margin-bottom: 2rem; }
  .todo-list__item {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .todo-list__content {
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer; }
  .todo-list__time {
    color: rgba(255, 255, 255, 0.7); }
  .todo-list__checkbox {
    height: 2.5rem;
    width: 2.5rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem .3rem; }
    .todo-list__checkbox i {
      opacity: 0;
      font-size: 2.7rem; }
  .todo-list__controls {
    color: white;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem; }
  .todo-list__menu {
    position: absolute;
    background-color: black;
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
    width: 120px;
    right: 1rem;
    top: 10%;
    z-index: 200; }
    .todo-list__menu__item {
      padding: 1rem 1rem .5rem; }
      .todo-list__menu__item:last-child {
        padding: .5rem 1rem 1rem; }
      .todo-list__menu__item:hover {
        background-color: #202020;
        cursor: pointer; }
  .todo-list .completed--text {
    text-decoration: line-through; }
  .todo-list .completed--checkbox i {
    opacity: 1; }
  .todo-list__add {
    color: white;
    padding: 2rem;
    font-weight: 300; }
    .todo-list__add__header {
      font-size: 1.8rem;
      margin-bottom: 2rem; }
  .todo-list__textarea {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
    color: white !important; }
    .todo-list__textarea:focus {
      box-shadow: none !important;
      border-bottom: 1px solid #4387e7 !important; }
  .todo-list__time-select {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem; }
    .todo-list__time-select input {
      border-radius: 2px;
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
      width: 100%;
      position: relative;
      display: inline-block;
      padding: 4px 7px;
      height: 28px;
      cursor: text;
      font-size: 12px;
      line-height: 1.5;
      background-image: none;
      border: none !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important; }
      .todo-list__time-select input:focus {
        box-shadow: none !important;
        border-bottom: 1px solid #4387e7 !important; }
  .todo-list__submit {
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding: .6rem 1.4rem !important;
    color: white;
    font-size: 1.4rem !important;
    font-weight: 300;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .2s ease-in-out;
    cursor: pointer; }
    .todo-list__submit:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
      transition: all .2s ease-in-out; }

.chat__list {
  overflow: hidden;
  overflow-y: auto; }

.chat__contacts {
  height: 484px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 2rem; }

.chat__contact {
  padding: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: .1s ease-in-out; }
  .chat__contact:hover {
    background-color: rgba(255, 255, 255, 0.0825); }
  .chat__contact__avatar img {
    height: 3.9rem;
    width: 3.9rem;
    margin-right: 1rem; }
  .chat__contact__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    font-size: 1.3rem; }
  .chat__contact__name {
    color: white; }
  .chat__contact__status {
    color: rgba(255, 255, 255, 0.7); }

.chat__body {
  padding: 2rem; }

.chat__messages {
  justify-content: space-between;
  height: 320px;
  overflow: hidden;
  overflow-y: auto; }

.chat__message {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between; }
  .chat__message__avatar img {
    height: 3.4rem;
    width: 3.4rem;
    margin-right: 1rem; }
  .chat__message__avatar--from-you img {
    margin-right: 0;
    margin-left: 1rem; }
  .chat__message__text {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 6px;
    font-size: 1.3rem; }
    .chat__message__text--from-you {
      background-color: rgba(255, 255, 255, 0.8);
      color: #333333; }
  .chat__message__main {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    max-height: 520px;
    overflow-y: auto;
    margin-bottom: 2rem; }
    .chat__message__main--from-you {
      display: flex;
      flex-direction: row-reverse; }

.chat__input {
  margin-top: 2rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border: none;
  font-size: 1.4rem;
  color: white;
  padding: 1rem; }
  .chat__input:focus {
    box-shadow: none; }

@media only screen and (min-width: 768px) {
  .chat .row .col-md-4 {
    padding-right: 0; } }

.blog-post {
  border: 5px solid red;
  margin-bottom: 2.5rem; }
  .blog-post__image img {
    height: auto;
    width: 100%;
    max-height: 340px; }
  .blog-post__content {
    padding: 2rem;
    font-weight: 200; }
  .blog-post__info {
    margin-bottom: 2rem; }
  .blog-post__title {
    font-size: 2rem;
    font-weight: 300; }
  .blog-post__author {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    letter-spacing: .1px; }
  .blog-post__text {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    white-space: pre-wrap; }
  .blog-post__button {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer; }
    .blog-post__button a {
      color: white;
      text-decoration: none;
      transition: .1s ease-in-out; }
      .blog-post__button a:hover {
        color: #4387e7;
        text-decoration: none; }
  .blog-post__user {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .blog-post__user__author {
      font-size: 1.6rem; }
      .blog-post__user__author__info {
        margin-top: .5rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.2rem; }
    .blog-post__user__icons {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-around; }
      .blog-post__user__icons i {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 1.2rem 1.3rem;
        border-radius: 50%;
        font-size: 1.4rem;
        margin-right: .6rem;
        cursor: pointer; }
        .blog-post__user__icons i:first-child {
          padding: 1.2rem 1.5rem; }
        .blog-post__user__icons i:last-child {
          margin-right: 0; }
        .blog-post__user__icons i:hover {
          background-color: rgba(255, 255, 255, 0.35);
          transition: all .2s ease-in-out; }
  .blog-post__avatar img {
    height: 7rem;
    width: 7rem;
    margin-bottom: 1rem; }

.blog-side__header {
  font-weight: 300;
  font-size: 1.6rem; }

.blog-side__post {
  display: flex;
  padding: 2rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1); }
  .blog-side__post:hover {
    background-color: rgba(255, 255, 255, 0.0825); }

.blog-side__avatar img {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem; }

.blog-side__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 200; }

.blog-side__title {
  font-size: 1.4rem;
  font-weight: 300; }

.blog-side__author {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3rem; }

.RichEditor-root {
  background: rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  padding: 15px;
  flex: 1; }

.RichEditor-editor {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  cursor: text;
  font-size: 1.3rem;
  margin-top: 10px; }

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px; }

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px; }

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none; }

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px; }

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  padding: 20px; }

.RichEditor-controls {
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none; }

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block; }

.RichEditor-activeButton {
  color: #5890ff; }

.RichEditor-styleControls {
  display: flex; }

.underline {
  text-decoration: underline; }

.mailbox-compose {
  padding: 2rem 1rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .mailbox-compose .form-group {
    position: relative;
    display: flex;
    align-items: center; }
  .mailbox-compose label {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    left: .5rem; }
  .mailbox-compose__form form .mailbox-compose__input {
    padding-top: 5px;
    font-size: 1.2rem; }
  .mailbox-compose__form form .form-to {
    padding-left: 2.7rem; }
  .mailbox-compose__form form .form-cc {
    padding-left: 2.9rem; }
  .mailbox-compose__form form .form-bcc {
    padding-left: 3.7rem; }
  .mailbox-compose__form form .form-subject {
    padding-left: 5.4rem; }
  .mailbox-compose__message {
    flex: 1; }
    .mailbox-compose__message * {
      height: 100%; }
    .mailbox-compose__message__input {
      font-size: 1.3rem !important; }
  .mailbox-compose__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    display: flex;
    justify-content: flex-end; }
    .mailbox-compose__footer__button {
      margin-left: 1rem; }

.inbox__header {
  background-color: rgba(0, 0, 0, 0.1); }
  .inbox__header__avatar img {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem; }
  .inbox__header__info {
    display: flex; }
  .inbox__header__name {
    font-weight: 300; }
  .inbox__header__subtitle {
    font-size: 1.2rem;
    font-weight: 300; }

.inbox__icons {
  display: flex;
  justify-content: space-between; }
  .inbox__icons__compose {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 41px; }
    .inbox__icons__compose a {
      color: white;
      text-decoration: none; }
      .inbox__icons__compose a:hover {
        color: white;
        text-decoration: none; }
    .inbox__icons__compose i {
      background-color: #4387e7;
      border-radius: 20%;
      position: relative; }
      .inbox__icons__compose i:hover {
        transition: all .1s ease-in-out;
        background-color: #749bea; }
      .inbox__icons__compose i:last-child {
        padding: .7rem 1rem; }
  .inbox__icons__group {
    margin-right: 10px;
    display: none; }
    @media only screen and (min-width: 520px) {
      .inbox__icons__group {
        display: flex; } }
    .inbox__icons__group i {
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: .7rem 1rem;
      flex: 1 1 0;
      min-width: 40px;
      display: flex;
      justify-content: center; }
      .inbox__icons__group i:first-child {
        border-radius: 6px 0 0 6px; }
      .inbox__icons__group i:not(:last-child) {
        border-right: none; }
      .inbox__icons__group i:last-child {
        border-radius: 0 6px 6px 0;
        padding: .7rem 1rem; }
      .inbox__icons__group i:hover {
        transition: all .1s ease-in-out;
        background-color: rgba(255, 255, 255, 0.3); }
  .inbox__icons__back {
    margin-right: 10px;
    display: flex; }
    .inbox__icons__back a {
      color: white;
      text-decoration: none; }
      .inbox__icons__back a:hover {
        color: white;
        text-decoration: none; }
    .inbox__icons__back i {
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: .7rem 1rem;
      flex: 1 1 0;
      min-width: 40px;
      display: flex;
      justify-content: center;
      border-radius: 6px; }
      .inbox__icons__back i:last-child {
        padding: .7rem 1rem; }
      .inbox__icons__back i:hover {
        transition: all .1s ease-in-out;
        background-color: rgba(255, 255, 255, 0.3); }

.inbox__main {
  display: flex;
  flex-direction: row; }

.inbox__content {
  flex: 1;
  max-height: 530px;
  overflow: auto; }

.inbox__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .inbox__item:hover {
    background-color: rgba(255, 255, 255, 0.06); }
  .inbox__item__main {
    display: flex;
    align-items: center; }
  .inbox__item__avatar img {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem; }
  .inbox__item__name {
    font-size: 1.4rem; }
  .inbox__item__header {
    font-size: 1.2rem;
    font-weight: 300; }
  .inbox__item__message {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.7); }

.inbox__sidebar {
  flex: 0 0 200px;
  background-color: rgba(0, 0, 0, 0.065);
  padding: 1rem;
  display: none; }
  @media only screen and (min-width: 520px) {
    .inbox__sidebar {
      display: block; } }
  .inbox__sidebar__subheader {
    padding: 1rem;
    text-transform: uppercase; }
  .inbox__sidebar__item {
    color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer; }
    .inbox__sidebar__item i {
      margin-right: 1rem; }
    .inbox__sidebar__item:hover {
      background-color: rgba(255, 255, 255, 0.06); }

.inbox a {
  color: white;
  text-decoration: none; }
  .inbox a:hover {
    color: white;
    text-decoration: none; }

.mailbox-mail {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap; }
  .mailbox-mail__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2rem;
    align-items: center; }
    .mailbox-mail__header__main {
      display: flex;
      align-items: center; }
  .mailbox-mail__avatar img {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem; }
  .mailbox-mail__from {
    font-size: 1.3rem; }
  .mailbox-mail__email {
    font-style: italic; }
  .mailbox-mail__subject {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.3rem; }
  .mailbox-mail__time {
    color: rgba(255, 255, 255, 0.7); }
  .mailbox-mail__body {
    padding: 2rem;
    flex: 1;
    font-size: 1.3rem; }

.container--calendar {
  height: 100%;
  display: flex;
  flex-direction: column; }

.calendar-inner {
  padding: 1rem; }
  .calendar-inner .rbc-date-cell {
    min-height: 50px; }
    @media only screen and (min-width: 520px) {
      .calendar-inner .rbc-date-cell {
        min-height: 75px; } }

.calendar__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .calendar__toolbar__label {
    font-weight: 300;
    font-size: 2rem; }
  .calendar__toolbar__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 3rem; }
    .calendar__toolbar__button i:before {
      font-size: 2rem; }

.chart-container {
  margin-bottom: 4rem;
  padding: 2rem; }

.chart__header {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem; }

.quick-stat {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  color: white;
  padding: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  flex: 1; }
  .quick-stat__info {
    display: flex;
    flex-direction: column;
    margin-right: 1rem; }
  .quick-stat__number {
    font-size: 1.7rem; }
  .quick-stat__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem; }

.countdown-panel {
  background-color: #4387e7;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  padding: 1rem 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 6px; }
  .countdown-panel__timer {
    font-size: 3rem; }
    @media only screen and (min-width: 520px) {
      .countdown-panel__timer {
        font-size: 4rem; } }
  .countdown-panel__label {
    text-transform: none;
    font-size: 1.2rem; }
    @media only screen and (min-width: 520px) {
      .countdown-panel__label {
        font-size: 1.6rem; } }

.coming-soon {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(65deg, #0f0833, #1f78ff); }
  .coming-soon__header {
    font-size: 3rem; }
  .coming-soon__logo-main {
    font-size: 9rem;
    font-weight: 400;
    pointer-events: none;
    user-select: none; }
  .coming-soon__logo-sub {
    font-size: 2rem; }
  .coming-soon__countdown {
    display: flex;
    justify-content: space-around;
    text-transform: none; }

.countdown {
  display: flex;
  justify-content: space-around;
  text-transform: none; }

.price-table {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 2rem; }
  .price-table__header {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem; }
  .price-table__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: .8rem; }
  .price-table__subtitle {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center; }
  .price-table__body {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .price-table__body > * {
      width: 100%; }
  .price-table__price-info {
    display: flex;
    padding: 1rem;
    justify-content: center; }
  .price-table__price {
    font-size: 4rem; }
  .price-table__per {
    font-size: 1.4rem;
    position: relative;
    top: 2.8rem;
    left: .2rem; }
  .price-table__feature {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center; }
    .price-table__feature:not(:nth-of-type(2)) {
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .price-table__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 2rem; }
  .price-table .dollar-sign {
    font-size: 1.4rem;
    position: relative;
    top: 1.1rem;
    right: .2rem; }

.color-picker {
  position: absolute;
  right: 0;
  top: 6.9rem;
  background-color: black;
  z-index: 10000;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5); }
  .color-picker__option {
    height: 75px;
    width: 100px;
    margin: 1rem 1rem 0 1rem;
    cursor: pointer; }
    .color-picker__option:last-child {
      margin-bottom: 1rem; }
    .color-picker__option--purple {
      background: linear-gradient(45deg, #33001b, #8238ff); }
    .color-picker__option--aqua {
      background: linear-gradient(45deg, #13547a, #80d0c7); }
    .color-picker__option--peach {
      background: linear-gradient(45deg, #de6262, #ffb88c); }
    .color-picker__option--gray {
      background: linear-gradient(45deg, #2c3e50, #bdc3c7); }
    .color-picker__option--blue {
      background-image: linear-gradient(65deg, #0f0833, #1f78ff); }
    .color-picker__option--celestial {
      background-image: linear-gradient(65deg, #c33764, #1d2671); }
    .color-picker__option--royal {
      background-image: linear-gradient(45deg, #141e30, #243b55); }

.stat-row > * {
  display: flex; }

.dashboard .chart-container {
  margin-bottom: 1.5rem; }
